/*	Table OF Contents
==========================
1. General Styles
2. Navigation
3. Section - Home (banner)
4. Section - Couple
5. Section - Frase
6. Section - Our Story
7. Section - Counter
8. Section - Gallery
9. Section - Featured People
10. Section - Gift Registry
11. Section - RSVP
12. Section - Footer
13. Responsive
*/
/**
 *	This element is created inside your target element
 *	It is used so that your own element will not need to be altered
 **/
.time_circles {
	position: relative;
	width: 100%;
	height: 100%;
}

/**
 *	This is all the elements used to house all text used
 * in time circles
 **/
.time_circles>div {
	position: absolute;
	text-align: center;
}

/**
 *	Titles (Days, Hours, etc)
 **/
.time_circles>div>h4 {
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Century Gothic', Arial;
}

/**
 *	Time numbers, ie: 12
 **/
.time_circles>div>span {
	display: block;
	width: 100%;
	text-align: center;
	font-family: 'Century Gothic', Arial;
	font-size: 300%;
	margin-top: 0.4em;
	font-weight: bold;
}

#fullscreenloading {
	background: rgba(255, 255, 255, 1);
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: 1400;
	/* display:none; */
}

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal
}

.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.fa-heart:before {
	content: "\f004"
}


.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0
}

/* ==================================================================
	1. General Styles
================================================================== */
body {
	color: #7b7571;
	font-family: 'jhx';
	font-weight: 300;
}

/* Texts */
h1,
h2,
h3,
h4,
h5,
h6,
section#home {
	font-family: 'jhc';
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
	color: #f9667e;
}

.title-block {
	margin: 0px auto 70px auto;
	text-align: center;
}

.title-block .divider {
	border-bottom: solid 2px #f9667e;
	width: 50px;
	margin: 20px auto;
}

.title-block h1 {
	font-size: 53px;
}

.title-block p {
	font-size: 18px;
}

/* Colors */
.bg-gray-1 {
	background-color: #f4f4f4;
}

.bg-gray-2 {
	background-color: #eaeaea;
}

.bg-gray-3 {
	background-color: #cecece;
}

.bg-dark {
	background-color: #3d3d3d;
}

.bg-color-1 {
	background-color: #f9667e;
}

.txt-gray-1 {
	background-color: #f4f4f4;
}

.txt-gray-2 {
	background-color: #eaeaea;
}

.txt-gray-3 {
	background-color: #cecece;
}

.txt-dark {
	background-color: #3d3d3d;
}

.txt-color-1 {
	color: #f9667e;
}

/* Layout */
.space10 {
	height: 10px;
}

.space20 {
	height: 20px;
}

.space30 {
	height: 30px;
}

.space40 {
	height: 40px;
}

.space50 {
	height: 50px;
}

.space60 {
	height: 60px;
}

.top-pad-10 {
	padding-top: 10px;
}

.top-pad-20 {
	padding-top: 20px;
}

.top-pad-30 {
	padding-top: 30px;
}

.top-pad-40 {
	padding-top: 40px;
}

.top-pad-50 {
	padding-top: 50px;
}

.top-pad-60 {
	padding-top: 60px;
}

.top-pad-70 {
	padding-top: 70px;
}

.top-pad-80 {
	padding-top: 80px;
}

.bot-pad-10 {
	padding-bottom: 10px;
}

.bot-pad-20 {
	padding-bottom: 20px;
}

.bot-pad-30 {
	padding-bottom: 30px;
}

.bot-pad-40 {
	padding-bottom: 40px;
}

.bot-pad-50 {
	padding-bottom: 50px;
}

.bot-pad-60 {
	padding-bottom: 60px;
}

.bot-pad-70 {
	padding-bottom: 70px;
}

.bot-pad-80 {
	padding-bottom: 80px;
}

.top-mrg-10 {
	margin-top: 10px;
}

.top-mrg-20 {
	margin-top: 20px;
}

.top-mrg-30 {
	margin-top: 30px;
}

.top-mrg-40 {
	margin-top: 40px;
}

.top-mrg-50 {
	margin-top: 50px;
}

.top-mrg-60 {
	margin-top: 60px;
}

.top-mrg-70 {
	margin-top: 70px;
}

.top-mrg-80 {
	margin-top: 80px;
}

.bot-mrg-10 {
	margin-bottom: 10px;
}

.bot-mrg-20 {
	margin-bottom: 20px;
}

.bot-mrg-30 {
	margin-bottom: 30px;
}

.bot-mrg-40 {
	margin-bottom: 40px;
}

.bot-mrg-50 {
	margin-bottom: 50px;
}

.bot-mrg-60 {
	margin-bottom: 60px;
}

.bot-mrg-70 {
	margin-bottom: 70px;
}

.bot-mrg-80 {
	margin-bottom: 80px;
}

/* Bootstrap Elemtents*/
.btn {
	border-radius: 3px;
}

.btn-primary,
.btn-primary.btn-bordered:focus,
.btn-primary.btn-bordered:hover,
.btn-primary.btn-bordered:active,
.btn-primary.btn-bordered:active:focus,
.btn-primary.btn-bordered.active {
	background: #f9667e;
	border: solid 2px #f9667e;
	color: #fff;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.active,
.btn-primary.btn-bordered {
	background: none;
	border: solid 2px #f9667e;
	color: #f9667e;
}

.img-circle {
	border: 20px solid #FFF;
}

/*Section General*/
section {
	padding: 120px 0px;
}

section.img-bg-2 {
	/* background:url(../img/bg-22.jpg) no-repeat; */
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	color: #FFF;
}

section.img-bg-3 {
	/* background:url(../img/bg-3.jpg) no-repeat; */
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

section.img-bg-5 {
	/* background:url(../img/bg-55.jpg) no-repeat; */
	background-attachment: fixed;
	background-position: 20% 50%;
	background-size: cover;
}

/* ==================================================================
	2. Navigation
================================================================== */
#nav-sticky-wrapper {
	height: 50px;
	z-index: 1200;
}

.navbar-brand ul.names {
	font-size: 30px;
	text-transform: none !important;
}

.navbar-brand ul.names .circle {
	width: 20px;
	height: 20px;
	font-size: 13px;
	top: -5px;
}

#nav {
	font-family: 'jhx';
	font-size: 20px;
	z-index: 998;
	width: 100%;
	padding: 20px 0px;
}

.navbar-default {
	background-color: #FFF;
	border: 0px;
}

.nav>li a {
	padding: 10px 6px;
}

.nav>li a:after {
	content: "/";
	padding-left: 10px;
	color: rgba(0, 0, 0, 0.2);
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #f9667e;
	background: none;
}

#nav_list {
	padding: 0px 30px
}

/* ==================================================================
	3. Section - Home (banner)
================================================================== */
section#home {
	/* background:url(../img/bg-1.jpg) no-repeat; */
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
	height: 800px;
	padding: 50px 0px;
	position: relative;
	padding-top: 6%;
}

ul.names {
	list-style: none;
	display: inline;
	font-size: 100px;
	font-weight: 300;
	padding: 0px;
}

ul.names li {
	display: inline-block;
}

.circle {
	background: #F9667E;
	width: 100px;
	height: 100px;
	text-align: center;
	font-size: 63px;
	font-weight: normal;
	line-height: 1.5em;
	border-radius: 100px;
	margin: 0px;
	color: #FFF;
	top: -15px;
	position: relative;
}

.date {
	font-size: 50px;
}

.date span {
	font-size: 80px;
	border-bottom: solid 2px #F9667E;
	line-height: 1em;
}

.hour {
	font-size: 30px;
	margin-top: 20px;
}

.hour span {
	font-size: 20px;
}

.place {
	font-size: 20px;
}

.title span {
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	display: inline-block;
	margin: 5px 10px;
	width: 40px;
	border-color: #D6516D -moz-use-text-color -moz-use-text-color;
	border-style: solid none none;
	border-width: 1px 0px 0px;
}

@media (max-width: 767px) {
	.navbar-brand ul.names {
		font-size: 19px;
	}

	section#home {
		height: auto;
	}

	.title {
		margin-bottom: 30px;
	}

	.title span {
		width: 17px;
		margin: 7px 5px;
	}

	#home h3 {
		font-size: 18px;
	}

	.date {
		font-size: 30px;
		margin-top: 30px;
	}

	.date span {
		font-size: 45px;
		line-height: 1em;
	}

	section#home ul.names {
		font-size: 35px;
		text-align: center;
		margin-bottom: 20px;
	}

	section#home ul.names li {
		display: list-item;
	}

	section#home .circle {
		width: 64px;
		height: 64px;
		font-size: 41px;
		line-height: 1.5em;
		top: 0px;
		margin: auto;
	}
}

/* ==================================================================
	4. Section - Couple
================================================================== */
.profile img {
	margin: 40px auto;
}

.social-icons {
	margin: 27px auto;
}

.social-icons a {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: normal;
	line-height: 1.7em;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	margin: 5px;
	border: 4px solid #7b7571;
	background: #7b7571;
}

.social-icons a:hover {
	border: 4px solid #F9667E;
	background: #F9667E;
}

/* ==================================================================
	5. Section - Frase
================================================================== */
section#frase h2 {
	line-height: 1.7em;
	margin-bottom: 50px;
}

section#frase i {
	color: #f9667e;
}

/* ==================================================================
	6. Section - Our Story
================================================================== */
/*Timeline*/
.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: rgba(0, 0, 0, 0.09);
	left: 50%;
	margin-left: -1.5px;
}

.timeline>li {
	margin-bottom: 20px;
	position: relative;
}

.timeline>li:before,
.timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li:before,
.timeline>li:after {
	content: " ";
	display: table;
}

.timeline>li:after {
	clear: both;
}

.timeline>li>.timeline-panel {
	width: 46%;
	float: left;
	border-radius: 2px;
	padding: 20px 20px 50px 20px;
	position: relative;
	background: transparent;
	border: 3px solid #ededed;
}

.timeline>li>.timeline-panel:before {
	position: absolute;
	top: 24px;
	right: -18px;
	display: inline-block;
	border-top: 17px solid transparent;
	border-left: 17px solid #e8e8e8;
	border-right: 0 solid #e8e8e8;
	border-bottom: 18px solid transparent;
	content: " ";
}

.timeline>li>.timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline>li>.timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #f9667e;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline>li:first-child>.timeline-badge {
	position: absolute;
	top: 1%;
	left: 50%;
}

.timeline>li>.timeline-end>.timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #f9667e;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
	position: absolute;
	top: 100%;
	left: 50%;
}

.timeline>li>.timeline-end>.caption {
	top: 110%;
	left: 45%;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px 20px 50px 20px;
	position: absolute;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	background: #FFF;
	width: 300px;
}

.timeline>li {
	margin-top: -25%;
}

.timeline>li:first-child {
	margin-top: -27px;
}

.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline-badge.primary {
	background-color: #2e6da4 !important;
}

.timeline-badge.success {
	background-color: #3f903f !important;
}

.timeline-badge.warning {
	background-color: #f0ad4e !important;
}

.timeline-badge.danger {
	background-color: #d9534f !important;
}

.timeline-badge.info {
	background-color: #5bc0de !important;
}

.timeline-title {
	margin-top: 0;
	color: inherit;
}

.timeline>li .timeline-heading .timeline-title {
	text-align: right;
}

.timeline>li.timeline-inverted .timeline-heading .timeline-title {
	text-align: left;
}

.timeline-body>p,
.timeline-body>ul {
	margin-bottom: 0;
}

.timeline-body img {
	margin: 30px auto;
}

.timeline-body>p+p {
	margin-top: 5px;
}

.final-frase {
	font-size: 28px;
	margin-top: 20px;
}

.final-frase span {
	color: #f9667e;
	font-weight: bold;
}

/* ==================================================================
	7. Section - Counter
================================================================== */
/* ==================================================================
	8. Section - Gallery
================================================================== */

.port-image {
	width: 100%;
}

.gallery_product {
	margin-bottom: 30px;
}

/*Magnific Popup*/
.mfp-bg {
	background: #fff;
}

a.mfp-image:hover {
	opacity: 0.7;
}

.mfp-bottom-bar {
	margin-top: -27px;
}

.mfp-title,
.mfp-counter {
	color: #7b7571;
	font-size: 18px;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-arrow-right::after,
.mfp-arrow-right .mfp-a {
	border-left: 17px solid #7b7571;
}

.mfp-arrow-left::after,
.mfp-arrow-left .mfp-a {
	border-right: 17px solid #7b7571;
}

.mfp-close {
	font-size: 52px;
	top: -10px;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color: #7b7571;
}

/* ==================================================================
	12. Section - Footer
================================================================== */
section#footer ul.names {
	font-size: 43px;
}

section#footer .circle {
	width: 64px;
	height: 64px;
	font-size: 41px;
	line-height: 1.5em;
	top: 0px;
}

/* ==================================================================
	13. Responsive
================================================================== */
@media (max-width: 1199px) {

	.featured,
	.featured-right .featured {
		text-align: center;
	}

	.featured .text,
	.featured-right .featured .text {
		text-align: center;
	}

	.featured img,
	.featured-right .featured img {
		float: none;
		margin: auto;
	}
}

@media (max-width: 767px) {

	section {
		padding: 60px 0px;
	}

	ul.timeline:before {
		left: 40px;
	}

	.timeline>li {
		margin-top: 0px;
	}

	ul.timeline>li>.timeline-panel {
		width: calc(100% - 90px);
		width: -moz-calc(100% - 90px);
		width: -webkit-calc(100% - 90px);
	}

	ul.timeline>li>.timeline-badge,
	ul.timeline>li:first-child>.timeline-badge,
	ul.timeline>li>.timeline-end .timeline-badge {
		left: 15px;
		margin-left: 0;
		top: 16px;
	}

	.final-frase {
		margin-top: -29px;
		width: 70%;
		margin-left: 90px;
		text-align: left;
	}

	ul.timeline>li>.timeline-panel {
		float: right;
	}

	ul.timeline>li>.timeline-panel:before {
		border-left-width: 0;
		border-right-width: 15px;
		left: -15px;
		right: auto;
	}

	ul.timeline>li>.timeline-panel:after {
		border-left-width: 0;
		border-right-width: 14px;
		left: -14px;
		right: auto;
	}

	section#footer ul.names {
		font-size: 28px;
	}

	section#footer .circle {
		width: 43px;
		height: 43px;
		font-size: 31px;
		line-height: 1.2em;
		top: 0px;
	}
}


#fullscreenloading img {
	width: 100%;
	max-width: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

section#home {
	min-height: 680px;
}

section#home .container {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section#home .container ul.names {
	display: block;
	margin: 50px 0;
}

section#home .container ul.names li.grm-nm,
section#home .container ul.names li.brd-nm {
	padding: 30px 0
}

#frase h2 {
	text-align: center;
}

#guest-gender {
	color: #fff;
}

@font-face {
	font-family: 'jhx';
	src: url(../fonts/FZJunHJW_Xian.TTF);
}

@font-face {
	font-family: 'jhc';
	src: url(../fonts/FZJunHJW_Cu.TTF);
}

h1.cus3 {
	font-family: 'jhx';
}

h1.cus8 {
	font-family: 'jhc';
}

#guest-att {
	color: #fff;
}

.big-fz {
	font-size: 36px;
}

#couple,
#our-story,
#gallery {
	background-color: #fff;
}

#para-img .img-box {
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	transform: translateY(-100%);
}

#para-img .img-box.home-box {
	transform: translateY(0%);
}

#para-img .img-box.frase-box {
	z-index: -2;
}

#para-img .img-box.counter-box {
	z-index: -3;
}

#para-img .img-box.footer-box {
	z-index: -4;
}

#para-img .img-box img {
	width:100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#para-img .img-box.footer-box img {
	/* width: 100% !important;
	top:75%; */
}

#couple {
	background-color: #f4f4f4;
}

#gallery {
	background-color: #f4f4f4;
}

.tc-map-box {
	height: 330px;
	width: 100%;
	padding: 15px;
	background-color: #fff;
	overflow: hidden;
}

#tc-map {
	height: 300px;
	background-color: #000;
}